
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# virtualenv
virt/*

#Ds_store
.DS_Store

# pycache
*pycache*

# Db config
dbconfig.json
development.db
